
body{
	background-color: #ffcb0f;
    height: 100%;
    width: 100%; 
    margin-top: 0px;
    top: 0px;
    left: 0px;
}
		
@media print{

	.tambah, .form-cari, .menu-utama, .aksi{
	display: none;
	}
}

/* namabarang.php */
.awal {
	background-color: #222;

}
.awal h1 {
	color: white;
	font-size: 50px;
	font-family: 'times new roman';
	text-align: center;
}
.pemula {
	display: inline-block;
	height: 50px;

	 
}
.pemula a:hover{
	color: blue
}
.pemula li {
	display: inline-block;
	width: 200px;
	padding-left: 310px;

}
.btn.know_btn {
    background: #ffcb0f ;
    border-radius: 20px;
    color: #fff;
    font-family: "futura_ltbold",sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    text-transform: uppercase;
    border:1px solid transparent;
}

.nyari {
	display: inline-block;
	height: 50px;
	padding-left: 500px;
	width: 100%;
	border: 10px  gray;

}
.form-cari {
	display: inline-block;
	height: 30px;
	padding-top: 5px;

}
.cari {
	padding-left: 20px;
}
.tabel1 {
	padding-left: 30px;
}

/* fungsi tambah nama barang */

.tbh h1 {
	text-align: center;

}
.tbh a {
	color: 	white;
}
.tbh a:hover {
	color: red;
}
.nambah1 {
	display: inline-block;
	margin: 50px;
	padding-left: 500px;
	width: 200px;

}
	



		
		

